@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100svh;
    background-color: #e9e9e9;
}

h3 {
    font-weight: 600;
    margin: 0;
    margin-bottom: 5px;
}

hr {
    width: 90%;
    margin: 10px 0 10px 0;
}

.wrapper {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 280px 1fr;
    font-family: roboto, sans-serif;
    height: 100svh;
    background-color: #e9e9e9;
}

header {
    display: grid;
    grid-template-rows: repeat(2 1fr);
    grid-template-columns: 1fr;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    gap: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 8px -6px black;
    padding: 1rem 3rem;
}

.top-part {
    display: flex;
    gap: 10px;
    grid-row: 1 / 2;
    align-items: center;
}

.top-part > * {
    flex: ;
}

.notifications {
    margin-left: auto;
}

.top-part svg {
    fill: black;
    height: 24px;
    width: auto;
}

input {
    flex: 2;
    background-color: #e9e9e9;
    border: none;
    border-radius: 30px;
    padding: 8px 8px 8px 20px;
    margin-right: 9rem;
}

.first-profile-pic {
    background-color: #398be9;
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 500px;
    background-image: url("./assets/images/bag.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bottom-part {
    display: flex;
    gap: 10px;
    grid-row: 2 / 3;
    align-items: center;
}

.greet-name {

}

.buttons {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-left: auto;
}

button {
    flex: 1;
    color: white;
    font-size: medium;
    font-weight: 600;
    padding: 10px 20px;
    background-color: #398be9;
    border: none;
    border-radius: 40px;
}

.second-profile-pic {
    background-color: #398be9;
    height: 70px;
    width: 70px;
    border: none;
    border-radius: 500px;
    background-image: url("./assets/images/bag.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.side-bar {
    grid-row: 1 / 3;
    padding: 2rem 1.5rem;
    background-color: #398be9;
    box-shadow: 0 0 5px -2px black;
}

.logo {
    margin-bottom: 2rem;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #ffffff;
    text-decoration: none;
}

.side-bar .logo svg {
    height: 30px;
    width: auto;
    fill: #ffffff;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

nav ul {
    display: flex;
    flex-direction: column;
}

nav .main-navigation {
    margin: 0.5rem 0;
}

nav .support {
    margin: 0.5rem 0;
}

.link {
    color: #ffffff;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

ul li a svg {
    height: 24px;
    width: auto;
    fill: #ffffff;
}

ul li a {
    border: none;
    border-radius: 6px;
    transition: color 0.3s;
    transition: background-color 0.3s ease;
}

ul li a:hover {
    background-color: rgba(0, 0, 0, 0.295);
}

ul li a:focus {
    color: rgb(194, 194, 194);
}

nav ul li {
    list-style: none;
}

.main-content {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 280px;
    gap: 20px;
    background-color: transparent;
    padding: 30px 30px 30px 30px;
}

.main-content > h3 {
    font-size: 1.5rem;
}

.card-container {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    height: calc(100% - 40px);
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-left: 8px solid orange;
    border-radius: 8px;
    padding: 30px 10px 30px 30px;
    box-shadow: 1px 1px 8px -4px;
}

.card-icons {
    display: flex;
    gap: 20px;
    justify-self: flex-end;
    align-self: flex-end;
    margin-right: 20px;
    margin-top: auto;
}

.card-icons svg {
    height: 22px;
    width: auto;
}

.main-right {
    display: flex;
    flex-direction: column;
}

.main-right-top {
    font-size: 0.75rem;
    line-height: 1rem;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 1px 1px 8px -4px;
}

.main-right-bottom {
    font-size: 0.75rem;
    line-height: 1rem;
    display: flex;
    gap: 20px;
    flex-direction: column;
    background-color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 1px 1px 8px -4px;
}

.trending {
    margin-top: 20px;
}

.profile {
    display: flex;
    gap: 10px;
}

.profile-one-pic,
.profile-two-pic,
.profile-three-pic {
    flex: 0 0 auto;
    background-color: #398be9;
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.profile-one-pic {
    background-image: url("./assets/images/undi.svg");
}

.profile-two-pic {
    background-image: url("./assets/images/bag.jpg");
}

.profile-three-pic {
    background-image: url("./assets/images/undi\ 3.png");
}